[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "oh"]
	path = oh
	url = https://github.com/olajep/oh.git
[submodule "AdiHDLLib"]
	path = AdiHDLLib
	url = https://github.com/analogdevicesinc/hdl.git
	branch = hdl_2016_r1
