[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "oh"]
	path = oh
	url = https://github.com/peteasa/oh.git
[submodule "AdiHDLLib"]
	path = AdiHDLLib
	url = git@github.com:/analogdevicesinc/hdl
	branch = hdl_2016_r1
